.slider-item img {
    height: auto !important;
    width: auto !important;
    border-radius: 25px;
}
.container {
    padding: 55px 20px;
}
.slider-btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.slider-btn[data-dir="Prev"] {
    left: 0;
    -webkit-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
}
.slider-btn[data-dir="Next"] {
    right: 0;
    -webkit-transform: translateX(120%);
    -ms-transform: translateX(120%);
}
/* *[id]:before {
	display	 : block;
	content	 : " ";
	margin-top: -200px;
	height		: 200px;
	visibility: hidden;
} */
.slick-initialized .slick-slide {
    opacity: 1;
    visibility: visible;
}
.olazy {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in;
    -o-transition: opacity 0.1s ease-in;
    transition: opacity 0.1s ease-in;
}
.olazy.loaded {
    opacity: 1;
}